<nav class="navbar navbar-dark bg-dark navbar-expand mb-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" class="navbar-brand"><em>Home Page</em></a>
    </div>
    <div
      class="collapse navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav m-auto">
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Sign in/up</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a class="logout" style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown dropdown-menu-dark" appDropdown *ngIf="isAuthenticated">
          <a style="cursor: pointer" class="dropdown-toggle" role="button"
            >Manage</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer" (click)="onDeleteData()">Delete Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer" (click)="onMockData()">Create Mock Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>
