<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-xs-12">
					<button
						type="submit"
						class="btn btn-success"
						[disabled]="!productForm.valid">Save
					</button>
					<button
						type="button"
						class="btn btn-danger"
						(click)="onCancel()">Cancel
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input
							type="text"
							id="name"
							formControlName="name"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<div class="form-group">
						<label class="btn btn-default p-0">
							<input
								type="file"
								accept="image/*"
								(change)="selectFile($event)"/>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<img [src]="preview" class="img-responsive"
							 style="max-height: 200px"/>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="description">Description</label>
						<textarea
							type="text"
							id="description"
							class="form-control"
							formControlName="description"
							rows="6">
						</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" formArrayName="items">
					<div
						class="row"
						*ngFor="let itemCtrl of controls;let i=index;"
						style="margin-top: 10px"
						[formGroupName]="i">
						<div class="col-xs-7">
							<label>sku</label>
							<input
								type="text"
								class="form-control"
								formControlName="sku">
						</div>
						<div class="col-xs-7">
							<label>Stock</label>
							<input
								type="number"
								class="form-control"
								formControlName="quantity_in_stock">
						</div>

						<div class="col-xs-7">
							<label>Price</label>
							<input
								type="number"
								class="form-control"
								formControlName="price">
						</div>


						<div class="row">
							<div class="col-8">
								<label class="btn btn-default p-0">
									<input
										type="file"
										accept="image/*"
										(change)="selectFileItem($event, i)"/>
								</label>
								<img
									[src]="previewItem[i]"
									class="img-responsive"
									style="max-height: 150px"/>
								<!--								<img-->
								<!--									[src]="srcImg.get(i)"-->
								<!--									class="img-responsive"-->
								<!--									style="max-height: 150px"/>-->
							</div>
						</div>
						<div class="row">

						</div>
						<div class="col-xs-2">
							<button
								class="btn btn-danger"
								type="button"
								(click)="onDeleteItem(i)"
							>X
							</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12">
							<button
								type="button"
								class="btn btn-success"
								(click)="onAddItem()">Add Item
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>