<div class="row">
  <div class="col-xs-10 mx-auto">
    <table class="table table-striped">
      <div *ngFor="let order of orders let o = index">
        <div *ngIf="isMyOrder(order)">
          <hr/>
          <tr>
          <th>Sum: {{onFormatMoney(onSumOrder(order))}}</th>
          <th *ngFor="let item of order.items let i = index">
            <span class="imaag">
                  <img
                    [src]="item.image"
                    [alt]="item.sku"
                    style="max-height: 100px"
                  />
                </span>
            <p>
              {{ item.sku }} - {{ onFormatMoney(item.price) }} {{ item.variations }}
            </p>
          </th>
          </tr>
        </div>
      </div>
    </table>
  </div>
</div>
