<div class="row">
  <div class="col-xs-10">
    <hr />
    <ul class="list-group">
      <div *ngFor="let item of items let i = index">
        <a class="list-group-item clearfix" style="cursor: pointer">

            <span class="imaag">
              <img
                [src]="item.image"
                [alt]="item.sku"
                class="right"
                style="max-height: 100px"
              />
            </span>
          <div class="pull-left">
            <p class="list-group-item-text">
              {{ item.sku }} ({{ item.quantity_in_stock }}) {{ onFormatMoney(item.price) }} {{ item.variations }}
            </p>
          </div>
          <span class="pull-right">
            <button class="btn btn-danger" type="button" (click)="onDeleteItem(i,{item})">X</button>
          </span>
        </a>
      </div>
    </ul>
  </div>
</div>

<button class="btn btn-primary" type="button" (click)="onOrderItems(items, email)">Order items</button>
<p>Sum: {{onFormatMoney(onSumOrder(items))}}</p>
