<div class="row">
  <div class="col-xs-12">
    <img
      [src]="product.image"
      [alt]="product.name"
      class="img-responsive"
      style="max-height: 200px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name }}</h1>
  </div>
</div>
<div class="row" *ngIf="isAuthenticated">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Product <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngIf="product.items.length > 0">
          <a (click)="onAddToShoppingList()" style="cursor: pointer">Add all to Shopping List</a>
        </li>
        <li><a style="cursor: pointer" (click)="onEditProduct()">Edit Product</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteProduct()">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <div class="pull-left">
        <li class="list-group-item clearfix" *ngFor="let item of product.items; let i = index">
          <div class="pull-left">
            <h4 class="list-group-item-heading pull-left">
              {{ onFormatMoney(item.price) }}
            </h4>
            <br/>
            <p class="pull-left">We have {{ item.quantity_in_stock >= 0 ? item.quantity_in_stock : 0 }} units!</p>
            <br/>
            <br/>
            <p class=" pull-left">{{ item.sku }}</p>
          </div>

          <span class="pull-right imaag">
            <img
              [src]="item.image"
              [alt]="item.sku"
              class="right"
              style="max-height: 100px"
              alt=""
            />
            <label *ngIf="!itemAdded[i]"
              class="btn btn-info"
              (click)="onAddSingleToShoppingList(i)"
              style="max-height: 50px; margin: 10px;"
            >Add to Cart</label>
            <label *ngIf="itemAdded[i]"
                class="btn btn-success"
                (click)="onAddSingleToShoppingList(i)"
                style="max-height: 50px; margin: 10px;"
         >Added to Cart</label>
          </span>
        </li>
      </div>
    </ul>
  </div>
</div>
